<div class="ui tab" data-tab="brand">
    <div class="ui segment">
        <h4 class="ui dividing header">{{ 'loevgaard_sylius_brand.ui.brand'|trans }}</h4>
        {{ form_row(form.brand) }}
    </div>
</div>
