<?xml version="1.0" encoding="UTF-8"?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <defaults public="false" />

        <service id="loevgaard_sylius_brand.listener.admin.menu_builder"
                 class="Loevgaard\SyliusBrandPlugin\Menu\AdminMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.main" method="addAdminMenuItems"/>
        </service>

        <service id="loevgaard_sylius_brand.listener.admin.product_form_menu_builder"
                 class="Loevgaard\SyliusBrandPlugin\Menu\AdminProductFormMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.product.form" method="addItems"/>
        </service>

        <service id="loevgaard_sylius_brand.admin.menu_builder.brand_form"
                 class="Loevgaard\SyliusBrandPlugin\Menu\BrandFormMenuBuilder">
            <argument type="service" id="knp_menu.factory" />
            <argument type="service" id="event_dispatcher" />
            <tag name="knp_menu.menu_builder" method="createMenu" alias="loevgaard_sylius_brand.admin.brand_form" />
        </service>

    </services>
</container>
