parameters:
    level: max

    paths:
        - src
        - tests

    excludePaths:
        - tests/Application/*

    bootstrapFiles:
        - vendor/autoload.php

    # Symfony Configuration
    symfony:
        consoleApplicationLoader: tests/PHPStan/console_application.php

    # Doctrine Configuration
    doctrine:
        repositoryClass: Doctrine\ORM\EntityRepository
        objectManagerLoader: tests/PHPStan/object_manager.php

    # Report unmatched ignored errors
    reportUnmatchedIgnoredErrors: false

    # Bleeding edge features
    treatPhpDocTypesAsCertain: false
