<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
<coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
        <directory suffix=".php">src/</directory>
    </include>
</coverage>
<testsuites>
    <testsuite name="LoevgaardSyliusBrandPlugin Test Suite">
        <directory>tests</directory>
    </testsuite>
</testsuites>
<php>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="-1"/>

    <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
    <server name="ESCAPE_JSON" value="true" />

    <server name="KERNEL_CLASS" value="Loevgaard\SyliusBrandPlugin\Tests\Application\Kernel" />
    <server name="EXPECTED_RESPONSE_DIR" value="../Responses/Expected" />
    <server name="FIXTURES_DIR" value="../DataFixtures/ORM" />
</php>
</phpunit>
